.main-column h1 {
  color: #1F0E4A; 
  border-bottom: 2px solid #C9813A;
  margin-bottom: 0.2em;
}

.main-column  h2 {
  color: #1F0E4A; 
  border-bottom: 2px solid #12C925; }

.main-column h3 {
  color: #7D7300;
  font-weight: 300;
  margin-bottom: 0;
}

.main-column h4 {
  margin-bottom: 0;
}


.main-column p {
  margin-top: 0;
}

.main-column li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #C9813A;
}

.main-column a {
  color: #117D1D;
}

.sidebar h2 {
  margin: 0.4em 0 0 1em;
}

.sidebar h2 a {
  color: #ddd;
}

blockquote {
  border-left: 2px solid #1F0E4A;
  color: #C9813A;
  font-size: 1em;
  padding-left: 2em;
}
