.main-column h1 {
  color: #1F0E4A; 
  border-bottom: 2px solid #C9813A;
  margin-bottom: 0.2em;
}

.main-column  h2 {
  color: #1F0E4A; 
  border-bottom: 2px solid #12C925;
}

.main-column h3 {
  color: #7D7300;
}

.main-column p {
  margin-top: 0;
}

.main-column li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #C9813A;
}

.main-column a {
  color: #117D1D;
  font-weight: bold;
}

.sidebar h2 {
  margin-bottom: 0;
}

.sidebar h2 a {
  color: #ddd;
}

.sidebar h2 a:hover {
}
