body {
  background: #fff;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  display: flex;
  flex-grow: 1;
  padding: 0 2em 1em 2em;
  position: relaltive;
}

.sidebar {
  background: #5526C9;
}

.main-column {
  background: #fff;
}


@media screen and ( min-width: 799px ) { 
  .inner {
    max-width: 40em;
  }
}
